/*body{
    background: #eee;
    text-align: center;
}
#frm{
    border: solid green 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 50px;
}
#btn{
    display: flex;
    color: #fff;
    background: #337ab7;
    padding: 5px;
    margin-left: 50%;
}
#reg_body
{
	text-align: center;
	font-family: arial;
	font-size:18px;
}
li
{
	list-style: none;
	line-height: 2em;
	text-align: left;
}
.header
{
	background:#f4f4f4;
	border-bottom:#ccc 3px solid;
	padding:20px;
}
.container
{
	width:700;
	margin:30px auto;
}*/
{box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=checkbox]
{
    display: inline-block;
    text-align: center;
}

input[type=text]:focus, input[type=password]:focus, input[type=checkbox]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.regular-checkbox
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.regular-checkbox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.regular-checkbox:hover
{
     background-color: #f7f7f7;
}
.regular-checkbox:checked
{
     background-color: #f1f1f1;
}
.orgs label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 
#reg_header{
  text-align: center;
  font-size: 80px;
  text-decoration-line: underline overline;
  text-decoration-color: green;
}